# Logs
node_modules/
dist/
dist-ssr/
*.local

# Sistema y Diseño
.DS_Store
*.log
logs
**/*.backup.*
**/*.back.*
psd
thumb
sketch
*.sublime*

# Dependencias
bower_components/

# Variables de entorno (Seguridad)
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Vercel / Despliegue
.vercel

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/
